parameters:
    images_directory: '%kernel.project_dir%/public/uploads/produits'

services:
    _defaults:
        autowire: true
        autoconfigure: true
    App\Twig\AppExtension:
        tags: ['twig.extension']

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'